.countDownContainer {
    display: flex;
    align-items: center;
    font-family: Rajdhani;
    font-weight: 600;
    color: var(--title);
}

.countDownContainer > div {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: white;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    font-size: 8.5rem;
    text-align: center;
}

.countDownContainer > div span {
    flex: 1;
}

.countDownContainer > div span:first-child {
    border-right: 1px solid #f0f1f3;
}

.countDownContainer > div span:last-child {
    border-right: 1px solid #f0f1f3;
}

.countDownContainer > span {
    font-size: 6.5rem;
    margin: 0 0.5rem;
}

.startCountDown {
    width: 100%;
    height: 5rem;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    outline: none;
    border-radius: 5px;
    background-color: var(--blue);
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
    transition: background-color .2s;
}

.startCountDown:hover {
    background: var(--blue-dark);
}

.countDownButtonActive {
    background-color: var(--white);
    color: var(--title);
}

.countDownButtonActive:not(:disabled):hover {
    background: var(--red);
    color: var(--white);
}

.startCountDown:disabled {
    background: var(--white);
    color: var(--text);
    cursor: default;
}